[req]
default_bit = 4096
x509_extensions = v3_ca
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
countryName                 = DE
organizationName            = dirPic
commonName                  = EndPoint

[ v3_ca ]
authorityKeyIdentifier=keyid, issuer
keyUsage                    = critical, digitalSignature, keyEncipherment
extendedKeyUsage            = serverAuth, clientAuth
